.container{
    display: flex;
    align-items: center;
    gap: 100px;
    width:95%;
    justify-content: center;
    left:10px;
}
.imgcontainer{
    flex:1;
    position :relative;
    height: 500px;
   
}
.img{
    object-fit:contain;
    height: 100px;
    width: 100px;
    
}

.formcontainer{
    flex:1;
}

.formcontainer_2{
    flex:1;
}

.form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.form input, .form textarea{
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:rgb(220, 218, 218);
    color: black;
}

/*.form button{
    padding: 20px;
    border: 5px black bold;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(100, 119, 243);
    cursor: pointer;
    color: black;
}*/

.labels {
    font-size: 14px;          
    font-weight: bold;        
    color: #838080;              
    margin-bottom: 5px;       
    display: block;           
}

.container_1{
    flex: 1;
    height: 350px;
    width: 350px;
    background-color: var(--bg);
}
.container_2{
    flex: 1;
}
.container_3{
    flex: 1;
}

.heading2{
    font-size: 32px;         
    font-weight: bold;        
    color: #45607b;           
    text-align: center;       
    /*margin-bottom: 20px; */    
    letter-spacing: 1px;      
    text-transform: uppercase; 
}

.heading3{
    font-size: 24px;          
    font-weight: bold;
    color: #45607b;        
    /*color: #2c3e50; */          
    text-align: center;   
    margin-bottom: 20px;      
    letter-spacing: 1px;      
    text-transform: uppercase; 
}
