.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: Arial, sans-serif; 
  }
  
  .h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  .h2 {
    top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  .icon {
    width: 300px; 
    height: 40px; 
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 20px; 
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold; 
    color: #333; 
  }
  
  .input {
    background-color: white;
    color: black;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box; 
  }
  
  .button {
    padding: 12px;
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
  }
  
  .button:hover {
    background-color: #218838; 
  }
  
  .message {
    margin-top: 20px;
    text-align: center;
    color: #28a745; 
    font-weight: bold; 
  }
  
  
  .paymentMethods {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .paymentOption {
    display: flex;
    align-items: center;
  }
  
  .paymentOption input {
    margin-right: 10px;
  }



  

